# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Pyenv
.python-version

# Test folders
tests/clean
tests/quarantine
tests/samples/*
!tests/samples/1

*.db
*.db*
*.log
